.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15vh 0 15vh 0;
    .content {
        width: 50%;
        h1 {
            font-weight: 500;
            font-size: 4rem;
            text-transform: uppercase;
        }
        p {
            padding-top: 2vh;
            line-height: 2rem;
        }
    }
    img {
        height: 50vh;
        width: 40%;
        object-fit: cover;
    }
}