.list {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    .item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        img {
            height: 30vh;
            width: 30vh;
            object-fit: contain;
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
            p {
                
                width: 80%;
            }
            .inline {
                display: flex;
                align-items: center;
                p {
                    width: initial;
                    margin-left: 2rem;
                    font-size: .75rem;
                    border-bottom: 2px dotted #cfcece;
                }
                input {
                    margin: 2vh 0 2vh 0;
                    height: 4vh;
                    border: 2px solid var(--light-dark);
                    border-radius: 10px;
                    width: 20%;
                    text-align: center;
                }
            }
        }
    }
}