.wrapper {
    width: 40%;
    h1 {
        text-transform: uppercase;
        font-weight: 500;
            font-size: 4rem;
    }
    .form {
        label {
            display: block;
            padding-top: 3vh;
            width: 100%;
            input {
                margin-top: 1vh;
                width: 70%;
                display: block;
                padding: 1.25vh 0 1.25vh 1vw;
                background: transparent;
                border: none;
                border-bottom: 1.5px solid #cfcece;
            }
        }
    }
}